<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    
    # RewriteBase: Hanya path ke root proyek
    RewriteBase /inlet-project/
    
    # Kecualikan folder public dari RewriteRule (untuk file statis)
    RewriteRule ^public/(.*)$ - [L]

    # Jangan proses permintaan jika itu adalah direktori yang ada
    RewriteCond %{REQUEST_FILENAME} !-d
    # Jangan proses permintaan jika itu adalah file yang ada
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # Arahkan semua permintaan ke public/index.php
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>