/* --- Styling Halaman Galeri --- */

.galeri-container {
  padding: 2rem 0 6rem 0;
}

/* 1. Styling Grid Foto */
.photo-grid {
  padding: 0 3rem;
  display: grid;
  /* Mobile: 2 kolom */
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.gallery-item:hover {
  transform: scale(1.03); /* Efek zoom halus saat hover */
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.caption {
  background-color: rgba(0, 0, 0, 0.6); /* Overlay teks transparan */
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  margin: 0;
}

/* Styling Icon Play untuk Video */
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9);
  pointer-events: none; /* Penting agar klik melewati ikon */
}

.galeri-load-more {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* 2. Media Query: Desktop Override (3 Kolom Grid) */
@media (min-width: 992px) {
  .photo-grid {
    /* Desktop: 3 kolom */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

/* --- Styling Halaman Kontak --- */
.kontak-content-container {
  /* HAPUS padding-top (3rem) agar menempel ke header */
  padding: 0 0 6rem 0; /* Padding vertikal (atas: 0, bawah: 6rem) */
}
